@import
  "minima/overrides/layout"
;

h3.card-title {
  @include relative-font-size(1.2);
}

.card-title {
  margin-bottom: .2rem;
  position: relative;

  .card-title-role {
    @include relative-font-size(1);
    color: $brand-color;
      // position: absolute;
      // // right: 0;
      // bottom: 0;
  }

  .card-title-period {
    color: $brand-color;
    font-size: $small-font-size;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.card-tags {
  margin: 0 0 .75rem;
}

.card-tag {
  @include relative-font-size(0.75);

  background-color: $tag-background-color;
  color: $tag-text-color;

  display:inline-block;
  min-width: 1rem;
  text-align: center;

  padding: .2rem .3rem;
  margin: 0 .25rem;
  border: 0;
  border-radius: 1rem;
}

.card-tag:first-child {
  margin-left: 0;
}


.post-excerpt {
  margin: 0 2em;
  color: $brand-color;
  font-size: $small-font-size;
}

.btn-lynxi {
  position: relative;
  display: block;
  background-color: $background-color;
  border: 0;
  border-radius: .5rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  font-weight: 600;
  padding: .75rem 1rem;
  text-align: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 0.5em;

}

.btn-lynxi:hover {
  background-color: $code-background-color;
}

.btn-lynxi:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-lynxi:focus-visible {
  box-shadow: none;
}

.container-lynxi {
  width: 100%;
  text-align: center;

}

.user-head {
  padding: 1rem 0;
}

.img-profile {
  border-radius: 30%;
}


.landing-title {
  // Moving Letters 11: https://tobiasahlin.com/moving-letters/#11
  $line-height: 60%;

  .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }

  .letter {
    display: inline-block;
    line-height: 1em;
    min-width: 0.2em;
  }
}
